doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  link(rel="stylesheet", href="style.css")
  body
  .container
    header.header
    .main
      .main__title Let's Create Your Dream Interior
      .main__text The world needs innovators and problem solvers who turn challenges into greater opportunities.
      button.button Get Started