*
    margin: 0
    padding: 0
    box-sizing: border-box

    .container
        width: 1440px
        background: rgb(245, 245, 245)
        margin: 0 auto

        .header
            width: 1200px
            height: 62px

    .main
        height: 831px
        background-image: url(./img/bg.png)

    &__title
        width: 595px
        height: 192px
        color: #292F36
        font-family: "DM Serif Display"
        font-size: 80px
        font-style: normal
        font-weight: 400
        line-height: 96px
        letter-spacing: 0.22px

    &__text
        width: 577px
        height: 33px
        color: rgb(77, 80, 83)
        font-family: Jost
        font-size: 22px
        font-weight: 400
        line-height: 33px
        letter-spacing: 0.22px
        text-align: left

    .btn
        width: 207px
        height: 71px

    &__btn
        width: 106px
        height: 27px
        color: rgb(255, 255, 255)
        font-family: Jost
        font-size: 18px
        font-weight: 400
        line-height: 27px
        letter-spacing: 0.72px
        text-align: left
